<html>
  <title>{{title}}</title>
  <body>
    <h1>{{title}}</h1>
    <div>
      <p>{{meetup}}</p>
    </div>
    <hr />
    <footer>
      <small>Rendered by Handlebars</small>
    <footer>
  </body>
<html>
