<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <ul>
      {{#each meetup.results}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
    <hr />
    <footer>
      <small>Rendered by Handlebars</small>
    <footer>
  </body>
<html>
