<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <div>
      <p>meetup={{meetup}}</p>
    </div>
    <hr />
    <footer>
      <small>Rendered by Handlebars</small>
    <footer>
  </body>
<html>
